@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BNAZANIN";
  src: url("/fonts/BNAZANIN.ttf");
}

@font-face {
  font-family: "BTRAFFIC";
  src: url("/fonts/BTRAFFIC.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:lang(en) {
  direction: ltr;
  unicode-bidi: plaintext;
  font-family: Arial, Helvetica, sans-serif; /* Override Persian font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "BNAZANIN", Arial, Helvetica, sans-serif;
}
